body {
    font-family: "Bradley Hand ITC";
    background-color: #cccccc;
}

#fullscreen-info {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    margin-left: 16px;
}

.fullscreen {
    margin: 16px;
}

#fullscreen-btn {
    font-family: "Bradley Hand ITC";
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    padding: 16px;
    cursor: pointer;
}

#fullscreen-btn:hover {
    background-color: rgb(180, 180, 180);
    transition: 225ms all ease-in-out;
}

#info-box {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    animation: pulse 1s alternate infinite;
    margin-left: 16px;
}

.controls {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 16px;
    margin-left: 16px;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media(max-width: 1050px) {

    #fullscreen-btn {
        font-size: 60px;
    }

}